body{
    margin: 0px;
    margin-top: 120px;
}
.posts{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#root{
  height: 100%;
}

.dark{
  background-color: rgba(144, 144, 144);
  color: red;
  height: 100%;
}
.light{
  background-color: rgb(243, 244, 227);
  color: black;
  height: 100%;

}