nav {
  width: 100vw;
  height: 100px;
  background-color: bisque;
  padding: 0.25rem;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.font-bold {
  font-weight: 800;
}
.text-grey {
  opacity: 90%;
}
.links {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: black;
}
.links > a {
  text-decoration: none !important;
}
.text-yellow {
  border-bottom: 3px solid blue;
}
